

.navbar {
  padding:10px;;
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: rgb(255, 191, 0);
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  max-width: 70px;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

  .nav-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    position: relative;
    left: 45%;
    top: 25%;
    height:100%;
    transform: translateX(-50%);
  }

/* Desktop Menu */
.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

/* Sidebar */
.sidebar {
  z-index: 999;
  position: fixed;
  top: 0;
  right: -320px;
  width: 270px;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  gap: 20px; /* Adds space between elements */
}

.sidebar.open {
  right: 0;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

/* Dropdown */
.sidebar-dropdown {
  margin-top: 20px;
}

/* Download Icon */
.sidebar-download {
  margin-top: 10px;
  text-align: left; /* Align left */
}

/* Responsive Design */
@media (max-width: 750px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .nav-heading {
  width: auto;
  height: 100%;
  font-size: 1rem;
  left: 35%;
  top: 40%;
  overflow-wrap: break-word;


  }
}
