/* table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100px;
    max-height: 300px;
    margin: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: hidden;
    box-sizing: border-box; 
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ece9e9; /* Add separator lines 
  }
  
  th {
    background-color: #ece9e9; /* Light gray background for header 
    justify-content: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    max-width: 300px;
    background-color: #00dffd;
    position: sticky;
    top: 0;
  } */

.table-container {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border: #737373 1px solid;
}

.ant-table {
  border-radius: 10px;
  max-width: 500px;
  max-height: 75vh;
}

.ant-table-thead>tr>th {
  background: #303030 !important;
  font-size: larger;
  color: #ffffff !important;
  position: sticky;
  top: 0;
}

.ant-table-tbody>tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.ant-table-tbody>tr:nth-child(even) {
  background-color: #ffffff;
}

.ant-table-body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.ant-table-body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@media (max-width: 1024px) {
  .table-container
  .ant-table-cell {
    padding: 10px !important;
  }
}

@media (min-width: 1440px) {
  .table-container {
    margin: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: #5b5b5b 2px solid;
    height: 700px;
    max-height: 90vh;
    flex-direction: row;
  }

  .ant-table {
    border-radius: 10px;
    max-width: 500px;
    max-height: 100vh;
  }

  /* .ant-table-cell {
    padding: 10px !important;
  } */
}