.table-container {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border: #737373 1px solid;
  padding: 10px;
  height: 70vh;
  width: 30%;
}

.table-div {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* ✅ Ensures the table does not overflow */
.table-container-scroll {
  height: 100%;
  overflow-y: auto;
}

/* ✅ Sticky header for MUI Table */
.MuiTableHead-root {
  position: sticky;
  top: 0;
  z-index: 2;
}

@media (max-width: 1024px) {
  .table-container .MuiTableCell-root {
      padding: 10px !important;
  }
  
}

/* @media (min-width: 1440px) {
  .table-container {
      margin: 10px;
      border-radius: 15px;
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
      border: #5b5b5b 2px solid;
      height: 450px;
      flex-direction: row;
  }
} */

@media (max-width: 768px) {
  .table-container{
    width: 90%;
  }

}