.cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}

@media (max-width: 350px) {
    .cardsContainer {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cardsContainer {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .cardsContainer {
        display: flex;
        flex-wrap: wrap;  /* Allows wrapping to new rows */
        justify-content: center;
        gap: 16px; /* Space between cards */
    }
  
}



